{{> menu id="dashboard"}}

<section class="ui center aligned middle aligned segment">
 
    Assessment List
  </header>
  <table class="ui celled table">
   
    <tbody>
      {{> analytics}}
    <div class="ui bulleted list">
        {{#each assessmentlist}}
      <tr>
        <td>
        {{title}}
    </td>
    
    <td>
        {{weight}}
    </td>
    <td>
        {{chest}}
    </td>
    <td>
        {{thigh}}
    </td>
    <td>
        {{upperArm}}
    </td>
    <td>
        {{waist}}
    </td>
    <td>
        {{hips}}
    </td>
    </tr>
        {{/each}}
    </div>
    </tbody>
</table>

{{> assessment-table}}
{{> addassessment}}
</section>

